<table class="table" id="commentsTable">
    <tr>
        <th><%= sort_link @search, :body, t('activerecord.models.comment') %></th>
        <th><%= sort_link @search, :user_username, t('activerecord.models.user') %></th>
        <th><%= sort_link @search, :tutorial_title, t('activerecord.models.tutorial') %></th>
        <th><%= t('common.actions') %></th>
    </tr>
    <% @comments.each do |comment| %>
    <tr id="comment-<%= comment.id %>">
        <td>
            <%= link_to comment.body[0..15], tutorial_path(comment.tutorial) %>
        </td>
        <td>
            <%= link_to comment.user.username, user_path(comment.user) %>
        </td>
        <td>
            <%= link_to comment.tutorial.title, tutorial_path(comment.tutorial) %>
        </td>
        <td>
            <%= link_to 'Delete', comment_path(comment, view_name: "admin"), method: :delete,
                class: "btn btn-danger btn-sm", remote: true %>
        </td>
    </tr>
    <% end %>
</table>