<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Author</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @tutorials.all.each_with_index do |tutorial, index| %>
            <tr>
                <td>
                <%= index + 1 %>
                    </td>
                <td>
                    <%= link_to tutorial.title, tutorial_path(tutorial) %>
                </td>
                <td>
                    <%= link_to tutorial.user.username, user_path(tutorial.user) %>
                </td>
                <td>
                    <%= link_to 'Edit', edit_tutorial_path(tutorial), class: "btn btn-primary btn-sm" %>
                    <%= link_to 'Delete', tutorial_path(tutorial), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-sm" %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>