<table class="table" id="tutorialsTable">
    <tr>
        <!-- <th><a onclick="sortTable(0, 'tutorialsTable')">Title</a></th> -->
        <th><%= sort_link @search, :title, "Title" %></th>
        <th><%= sort_link @search, :category_name, "Category" %></th>
        <th><%= sort_link @search, :user_username, "User" %></th>
        <th>Actions</th>
    </tr>
    <% @tutorials.each do |tutorial| %>
    <tr>
        <td><%= link_to tutorial.title, tutorial_path(tutorial) %></td>
        <td><%= link_to tutorial.category.name, category_path(tutorial.category) %></td>
        <td><%= link_to tutorial.user.username, user_path(tutorial.user) %></td>
        <td>
            <%= link_to 'Edit', edit_tutorial_path(tutorial), class: "btn btn-primary btn-sm" %>
            <%= link_to 'Delete', tutorial_path(tutorial), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-sm" %>
        </td>
    </tr>
    <% end %>
</table>