<table class="table">
    <tr>
        <th><%= sort_link @search, :title, t('activerecord.models.tutorial') %></th>
        <th><%= sort_link @search, :category_name, t('activerecord.models.category') %></th>        
        <th><%= t('common.actions') %></th>
    </tr>
    <% @tutorials.each do |tutorial| %>
    <tr>
        <td>
            <%= link_to tutorial.title, tutorial_path(tutorial) %>
        </td>
        <td>
            <%= link_to tutorial.category.name, category_path(tutorial.category) %>
        </td>
        <td>
            <%= link_to 'Edit', edit_tutorial_path(tutorial), class: "btn btn-primary btn-sm" %>
            <%= link_to 'Delete', tutorial_path(tutorial), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-sm" %>
        </td>
    </tr>
    <% end %>
</table>