<div>
    <article>
        <%= render "profile_header" %>
        <section class="tutorial-body">
            <%= t('activerecord.models.email') %>: <%= @user.email %><br>
            <%= t('common.tutorials') %>: <%= @user.tutorials.length %><br>
            <%= t('common.comments') %>: <%= @user.comments.length %>
        </section>
    </article>
</div>