<div>
    <article>
        <div class="right">
            <%= link_to t('tutorials.new.title'), new_tutorial_path(user: @user), class: 'btn btn-primary' %>
        </div>
        <%= render "profile_header" %>
        <section class="tutorial-body">
            <%= t('activerecord.models.email') %>: <%= @user.email %><br>
            <%= t('common.tutorials') %>: <%= @user.tutorials.length %><br>
            <%= t('common.comments') %>: <%= @user.comments.length %>
        </section>
    </article>
</div>