<div class="submenu">
    <br>
    <ul class="nav nav-pills nav-stacked">
        <li class="<%= "active" if current_page?(admin_users_path) %>"><%= link_to "Users", admin_users_path, class: "nav-item li-item-moved active" %></li>
        <li class="<%= "active" if current_page?(admin_tutorials_path) %>"><%= link_to "Tutorials", admin_tutorials_path, class: "nav-item li-item-moved" %></li>
        <li class="<%= "active" if current_page?(admin_comments_path) %>"><%= link_to "Comments", admin_comments_path, class: "nav-item li-item-moved" %></li>
        <li class="<%= "active" if current_page?(admin_categories_path) %>"><%= link_to "Categories", admin_categories_path, class: "nav-item li-item-moved" %></li>
    </ul>
</div>