<div class="container" style="background-color: white">
<a href="<%= tutorial_path(tutorial) %>" class="withoud-decoration" style="text-decoration:none">
<article class="tutorial">
  <section class="torial-head">
    <section class="post-summary clearfix">
      <div class="container-w3">
        <%= image_tag  tutorial.image.url(:large), alt: "Notebook", class: "preview_image" if tutorial.image? %>
        <div class="content">
          <p><h1><%= tutorial.title %></h1></p>
          <p><h2><%= tutorial.description %></h2></p>
          <div class="tags">
            <%= raw tutorial.tags.map(&:name).map { |t| link_to "<span class='label label-primary transparent'>#{t}</span>".html_safe, tag_path(t) }.join(' ') %>
          </div>
        </div>
      </div>
    </section>
  </section>
</article>
</a>
</div>
<br>