<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>


<%= form_for :info, url: {action: "create"}, html: {class: "form-group"} do | form | %>
<p>
<form>
    <div class="form-row">
            <div class="col-md-6">
                <%= text_field_tag :title, "", class: "form-control", placeholder: "Title" %>
            </div>
            <div class="col-md-6">
            <div id="span_container">
            </div>
                <%= text_field_tag :tags, "", id: "tag_field", class: "form-control", placeholder: "Tags" %>
            </div>
            <br>
            <br>
    </div>

</p>
<p>
    <%= text_area_tag :body, "", size: "60x12", class: "form-control" %>
</p>
<p>
    <%= form.submit "Create", class: "btn btn-primary" %>
</p>
</form>
<% end %>

<div id="text_to_be_changed"><% @day_of_week %></div>
<%= select_tag :days, options_for_select(["Monday", "Tuesday"]), :id => "select_days" %>  

<script>
    
    </script>

<script>
$("#tag_field").keypress(function(e) {
if(e.keyCode == 32 || e.keyCode == 13){
    $("#span_container").append('<span class="label label-danger">'+$("#tag_field").val()+'</span>    ');
    $(document).ready(function(){
        $('#select_days').change(function() {
            $('#text_to_be_changed').html($(this).val());
        });
    });
    $("#tag_field").val("");
}
});
</script>