<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<article>
    <section class="tutorial-head">
        <div class="tutorial-title">
            <%= @tutorial.title %>            
        </div>
        <!-- <div class="tags"> -->
            <%#= raw @tutorial.tags.map(&:name).map { |t| link_to "<span class='label label-primary transparent'>#{t}</span>".html_safe, tag_path(t) }.join(' ') %>
        <!-- </div> -->
        <div class="tutorial-info">
            post by <%= @tutorial.user.username %> at
                <time>
                    <%= @tutorial.created_at.to_date.strftime('%d %B, %Y') %>
                </time>
                <%= link_to @tutorial.category.name, @tutorial.category %>
                <% if user_signed_in? && (current_user.admin? || @tutorial.user == current_user) %>
                    |
                    <%= link_to t('common.change'), edit_tutorial_path(@tutorial) %>
                    |
                    <%= link_to t('common.delete'), tutorial_path(@tutorial), method: :delete, data: { confirm: 'Are you sure?'} %>
                <% end %>
            </div>                
        </section>
        <section class="tutorial-image">
            <%= image_tag @tutorial.image.url(:large) if @tutorial.image? %>
        </section>

        <div class="tutorial-center">
            <section class="tutorial-body">
                <%= to_markdown(remove_tags(@tutorial.body)).html_safe %>
            </section>
        </div>

            <section class="tutorial-comments">
                    <h3>Comments</h3>
                <%= render("comments/comments") %>
        </section>
</article>