<table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>Email</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% User.all.each_with_index do |user, index| %>
                <tr>
                    <td>
                        <%= index + 1 %>
                    </td>
                    <td>
                        <%= link_to user.username, user_path(user) %>
                    </td>
                    <td>
                        <%= user.email %>
                    </td>
                    <td>
                        <%= user.status %>
                    </td>
                    <td>
                        <%= link_to 'Edit', edit_user_registration_path(user), class: "btn btn-primary btn-sm" %>
                        <%= link_to 'Delete', user_path(user), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-sm" %>
                    </td>
                </tr>
                <% end %>
        </tbody>
    </table>