<table class="table" id="usersTable">
    <tr>
        <th><%= sort_link @search, :username, t('activerecord.attributes.user.username') %></th>
        <th><%= sort_link @search, :email, t('activerecord.attributes.user.email') %></th>
        <th><%= t('activerecord.attributes.user.role') %></th>
        <th><%= t('activerecord.attributes.user.status') %></th>
        <th><%= t('common.actions') %></th>
    </tr>
    <% @users.each do |user| %>
    <tr>
        <td>
            <%= link_to user.username, user_path(user) %>
        </td>
        <td>
            <%= user.email %>
        </td>
        <td>
            <%= role(user) %>
        </td>
        <td>
            <%= status(user) %>
        </td>
        <td>
            <%= link_to 'Edit', edit_user_registration_path(user), class: "btn btn-primary btn-sm" %>
            <%= link_to 'Change Role', "/admin/users/#{user.id}/chrole", class: "btn btn-warning btn-sm" %>
            <%= link_to ban_btn_text(user), "/admin/users/#{user.id}/ban", class: "btn btn-danger btn-sm" %>
        </td>
    </tr>
    <% end %>
</table>