<!DOCTYPE html>
<html>

<head>
    <title>Tutorochka</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <button id="onTopBtn" class="on-top" onclick="topFunction()">
        <span class="glyphicon glyphicon-arrow-up"></span>
    </button>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <%= link_to "Tutorochka", root_path, class: "navbar-brand" %>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to t('navbar.home'), root_path %></li>
                    <li class="<%= 'active' if current_page?(tutorials_path) %>"><%= link_to t('navbar.tutorials'), tutorials_path %></li>
                </ul>
                <form class="navbar-form navbar-left">
                    <%= form_with url: search_path, local: true, method: :get, html: { class: "navbar-form navbar-left navbar-form-inline" } do |f| %>
                        <%= f.text_field :q, placeholder: t('navbar.search'), data: { behavior: 'autocomplete' }, class: "form-control form-control-inline" %>
                    <% end %>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <% if user_signed_in? %>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.username %><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><%= link_to t('navbar.profile'), user_path(current_user) %></li>
                                <li><%= link_to t('navbar.admin_panel'), admin_panel_path(view_name: "admin") if current_user.admin? %></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#"><%= t('navbar.settings') %></a></li>
                                <li role="separator" class="divider"></li>
                                <li><%= link_to t('common.sign.out'), destroy_user_session_path, method: :delete %></li>
                            </ul>
                        </li>
                    <% else %>
                        <li><%= link_to t('common.sign.in'), new_user_session_path %></li>
                        <li><%= link_to t('common.sign.up'), new_user_registration_path %></li>
                    <% end %>
                </ul>     
            </div>
        </div>
    </nav>

    <%= render "shared/#{@sidebar}_submenu" %>

    <div class="main">
        <%= yield %>
    </div>
</body>

</html>